.recipe-preview{
    /*border: solid 2px purple;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recipe-title{
    margin-bottom: 60px;
}

.view-recipe-button{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

